@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
@if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
{
    <div class="alert alert-danger">
        @ViewBag.ErrorMessage
    </div>
}
<form asp-action="Create" method="post">
    <div class="form-group">
        <label>Dosya İsmi:</label>
        <input type="text" name="fileName" class="form-control" />
    </div>
    <br />
    <div class="form-group text-right">
        <button type="submit" class="btn btn-primary">Save</button>
    </div>
</form>